@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;

    font-family: Montserrat, sans-serif;
}

:root {
    --body-bg: #010101;

    --non-metal: #b4d264;
    --noble-gas: #64b4e1;
    --alkali-metal: #f5c864;
    --alkaline-earth-metal: #f0e65a;
    --metalloid: #6ec8be;
    --halogen: #aae1ff;
    --other-metals: #bed2d2;
    --transition-metal: #f5afaf;
    --lanthanide: #96e1e1;
    --actinide: #e6bedc;
}

.non-metal {
    color: var(--non-metal);
}

.non-metal:hover {
    text-shadow: 0 0 .20rem var(--non-metal), 0 0 .30rem var(--non-metal);
    box-shadow: inset 0 0 .5rem var(--non-metal), 0 0 .5rem var(--non-metal);
}

.noble-gas {
    color: var(--noble-gas);
}

.noble-gas:hover {
    text-shadow: 0 0 .20rem var(--noble-gas), 0 0 .30rem var(--noble-gas);
    box-shadow: inset 0 0 .5rem var(--noble-gas), 0 0 .5rem var(--noble-gas);
}

.alkali-metal {
    color: var(--alkali-metal);
}

.alkali-metal:hover {
    text-shadow: 0 0 .20rem var(--alkali-metal), 0 0 .30rem var(--alkali-metal);
    box-shadow: inset 0 0 .5rem var(--alkali-metal), 0 0 .5rem var(--alkali-metal);
}

.alkaline-earth-metal {
    color: var(--alkaline-earth-metal);
}

.alkaline-earth-metal:hover {
    text-shadow: 0 0 .20rem var(--alkaline-earth-metal), 0 0 .30rem var(--alkaline-earth-metal);
    box-shadow: inset 0 0 .5rem var(--alkaline-earth-metal), 0 0 .5rem var(--alkaline-earth-metal);
}

.metalloid {
    color: var(--metalloid);
}

.metalloid:hover {
    text-shadow: 0 0 .20rem var(--metalloid), 0 0 .30rem var(--metalloid);
    box-shadow: inset 0 0 .5rem var(--metalloid), 0 0 .5rem var(--metalloid);
}

.halogen {
    color: var(--halogen);
}

.halogen:hover {
    text-shadow: 0 0 .20rem var(--halogen), 0 0 .30rem var(--halogen);
    box-shadow: inset 0 0 .5rem var(--halogen), 0 0 .5rem var(--halogen);
}

.other-metals {
    color: var(--other-metals);
}

.other-metals:hover {
    text-shadow: 0 0 .20rem var(--other-metals), 0 0 .30rem var(--other-metals);
    box-shadow: inset 0 0 .5rem var(--other-metals), 0 0 .5rem var(--other-metals);
}

.transition-metal {
    color: var(--transition-metal);
}

.transition-metal:hover {
    text-shadow: 0 0 .20rem var(--transition-metal), 0 0 .30rem var(--transition-metal);
    box-shadow: inset 0 0 .5rem var(--transition-metal), 0 0 .5rem var(--transition-metal);
}

.lanthanide {
    color: var(--lanthanide);
}

.lanthanide:hover {
    text-shadow: 0 0 .20rem var(--lanthanide), 0 0 .30rem var(--lanthanide);
    box-shadow: inset 0 0 .5rem var(--lanthanide), 0 0 .5rem var(--lanthanide);
}

.actinide {
    color: var(--actinide);
}

.actinide:hover {
    text-shadow: 0 0 .20rem var(--actinide), 0 0 .30rem var(--actinide);
    box-shadow: inset 0 0 .5rem var(--actinide), 0 0 .5rem var(--actinide);
}

body {
    width: 100vw;

    padding: 20px;

    color: #ffffff;
    background-color: var(--body-bg);
}

.main-title {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 90px;
    margin-bottom: 45px;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.periodic-table {
    width: calc((75px + 2px + 2px) * 18 + 4px * 17);

    display: flex;

    flex-wrap: wrap;

    gap: 4px;
}

/* Elemento químico */

.chemical-element {
    height: 75px;
    width: 75px;

    border: solid 2px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    position: relative;

    background-color: var(--body-bg);

    transition: .4s;
}

.chemical-element:hover {
    transform: scale(1.5);
    cursor: pointer;
    z-index: 2;
}

.atomic-number{
    font-size: 8px;
    position: absolute;
    top: 3px;
    left: 4px;
}

.chemical-symbol{
    font-size: 21px;
}

.element-name{
    font-size: 11px;
}

.atomic-weight{
    font-size: 9px;
}

.fill-space {
    visibility: hidden;
}
